{% extends 'base.html.twig' %}

{% block title %}.:: S.T.E.G | Entreprise ::.
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row mt-5">
			<div class="col-6">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="/entreprise/">Liste des entreprises</a>
						</li>
						<li class="breadcrumb-item" aria-current="page">
							Représentation
						</li>
					</ol>
				</nav>
			</div>
			<div class="container">
				<div class="row mt-5">
					<div class="col-4">
						<div class="card">
							<img class="card-img-top" src="https://picsum.photos/200/100/?blur" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">{{ entreprise.getNomEnt() }}</h5>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<i class="fas fa-user-tie mr-5"></i>
									{{ entreprise.getNomEnt() }}</li>
								<li class="list-group-item">
									<i class="fas fa-at mr-5"></i>
									{{ entreprise.getEmail() }}</li>
								<li class="list-group-item">
									<i class="fas fa-phone mr-5"></i>
									{{ entreprise.getNumTel() }}</li>
							</ul>
						</div>
					</div>
					<div class="col-8">
						<table class="table table-striped" id="projets">
							<thead>
								<th>Nom du projet</th>
								<th>Date début</th>
								<th>Date fin</th>
								<th>Budget (DNT)</th>
								<th class="text-center">Actions</th>
							</thead>
							<tbody>
								{% set total = 0 %}
								{% if projets %}
									{% for projet in projets %}
										{% set total = total + projet.getBudget() %}
										<tr>
											<td>{{ projet.getNomProjet() }}</td>
											<td>{{ projet.getDateDebut() }}</td>
											<td>{{ projet.getDateFin() }}</td>
											<td>{{ projet.getBudget() }}</td>
											<td class="text-center">
												<a href="/projet/show/{{ projet.getId() }}" class="btn btn-primary">
													<i class="fas fa-eye"></i>
													Show</a>
											</td>
										</tr>
									{% endfor %}
								{% endif %}
								<tr>
									<td colspan="3">Budget totale (DNT):</td>
									<td>{{ total }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
