{% extends 'base.html.twig' %}

{% block title %}.:: S.T.E.G | Projet ::.
{% endblock %}

{% block body %}

	<div class="container">
		<div class="mt-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/">Accueil</a>
					</li>
					<li class="breadcrumb-item" aria-current="page">
						Liste des projets
					</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-8">
					<form action="/projet/search" method="POST" class="form-inline">
						<div class="form-group mx-sm-3 mb-2">
							<label for="keyword" class="sr-only">keyword</label>
							<input type="text" class="form-control" name="keyword" id="keyword" placeholder="recherche...">
						</div>
						<button type="submit" class="btn btn-primary mb-2">
							<i class="fas fa-search"></i>
						</button>
					</form>
				</div>
				<div class="col-4 text-right">
					<a href="/projet/create" class="btn btn-success">
						<i class="fas fa-plus mr-1"></i>Ajouter Projet</a>
				</div>
			</div>

			<div class="container">
				{% if projets %}
					<table class="table table-striped mt-5" id="projets">
						<thead>
							<th>Nom du projet</th>
							<th>Date début</th>
							<th>Date fin</th>
							<th>Budget (DNT)</th>
							<th class="text-center">Actions</th>
						</thead>
						<tbody>

							{% for projet in projets %}
								<tr>
									<td>{{ projet.getNomProjet() }}</td>
									<td>{{ projet.getDateDebut().format('Y-m-d') }}</td>
									<td>{{ projet.getDateFin().format('Y-m-d') }}</td>
									<td>{{ projet.getBudget() }}</td>
									<td class="text-center">
										<a href="/projet/show/{{ projet.getId() }}" class="btn btn-primary">
											<i class="fas fa-eye"></i>
											Show</a>
									</td>
								</tr>
							{% endfor %}

						</tbody>
					</table>
				{% else %}
					<h4 class="mt-5">
						aucun résultat
					</h4>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="/js/projet.js"></script>
{% endblock %}
