{% extends 'base.html.twig' %}

{% block title %}.:: S.T.E.G | Entreprise ::.
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row mt-5">
			<div class="col-6">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/">Accueil</a>
						</li>
						<li class="breadcrumb-item">
							<a href="/projet/">Liste des projets</a>
						</li>
						<li class="breadcrumb-item" aria-current="page">
							Représentation
						</li>
					</ol>
				</nav>
			</div>
			<div class="container">
				<div class="row mt-5">
					<div class="col-6">
						<div class="card">
							<img class="card-img-top" src="https://picsum.photos/200/100/?blur" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">{{ projet.getNomProjet() }}</h5>
								<p class="card-text">{{ projet.getDescription() }}</p>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<i class="fas fa-calendar-week mr-5"></i>
									{{ projet.getDateDebut() }}</li>
								<li class="list-group-item">
									<i class="fas fa-calendar-week mr-5"></i>
									{{ projet.getDateFin() }}</li>
								<li class="list-group-item">
									<i class="fas fa-coins mr-5"></i>
									{{ projet.getBudget() }}
									DNT</li>
							</ul>
						</div>
					</div>
					<div class="col-6">
						<div class="card">
							<img class="card-img-top" src="https://picsum.photos/200/100/?blur" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">{{ projet.getEntreprise().getNomEnt() }}</h5>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<i class="fas fa-user-tie mr-5"></i>
									{{ projet.getEntreprise().getNomEnt() }}</li>
								<li class="list-group-item">
									<i class="fas fa-at mr-5"></i>
									{{ projet.getEntreprise().getEmail() }}</li>
								<li class="list-group-item">
									<i class="fas fa-phone mr-5"></i>
									{{ projet.getEntreprise().getNumTel() }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
